<a href="/timesheets/new">
  <button>Create Timesheet Entry</button>
</a>

<h1>Timesheet Entries</h1>
<ul>
  <% @timesheets.each do |ts| %>
    <li><%= "#{ts.date}: #{ts.start_time} - #{ts.finish_time} $#{ts.calculated_amount}" %></li>
  <% end %>
</ul>