<a href="/timesheets/new">
  <button>Create Timesheet Entry</button>
</a>

<h1>Timesheet Entries</h1>
<ul>
  <% @timesheets.each do |ts| %>
    <% start_time = seconds_since_midnight_to_time(ts.start_time) %>
    <% finish_time = seconds_since_midnight_to_time(ts.finish_time) %>
    <li><%= "#{ts.date}: #{start_time} - #{finish_time} $#{ts.calculated_amount}" %></li>
  <% end %>
</ul>